@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Archivo", sans-serif;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}